body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */ 
.header h1 {
    font-size: 6.5vw;
    font-weight: 300;
}

#bell-container {
    text-align: right;
}

.bell-icon {
    max-width: 60%;
    align-items: center;
    margin-top: 50%;
}

.divider {
    border-left: 2px solid rgb(86, 87, 137);
    max-height: 66%;
    justify-self: right;
    margin-top: 50%;
}

.profile-picture {
    max-width: 90%;
    border-radius: 50%;
    justify-self: right;
    align-self: center;
}

.header {
    display: grid;
    grid-template-columns: 2fr 0.7fr 0.3fr 0.8fr 2fr;
    background-color: #8585e0;
    color: white;
    padding: 10px;
}

.header h3 {
    font-size: 4.3vw;
    text-align: right;
}

/* NAVIGATION */ 
.navigation {
    background-color: rgb(86, 87, 137);
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: center;
    padding: 7px;
}

.navigation img {
    max-width: 65%;
}

.navigation a {
    text-align: center;
}

/* WIDGET CONTAINER */ 
/* DASHBOARD */
.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 10px;
}

.headline {
    font-size: 5vw; 
    font-weight: 300;
    color: #737373;
    padding-left: 10px;
}

.main-header-search {
    justify-items: right;
    text-align: right;
    background-color: #F5F5F5;
    padding: 20px 10px 20px 40px;
    border-bottom-left-radius: 10px;
}

.main-header-search input {
    height: 25px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: hsl(0, 0%, 99%);
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
    padding-left: 10px;
    color: #737373;
}

.main-header-search input:focus{
    outline: none;
    box-shadow: 0 0 5px #6495ED;
}

/* ALERT */ 
.alert-banner {
    display: grid;
    grid-template-columns: 10fr 1fr;
    background-color: #8585e0;
    border-radius: 5px;
    font-size: 4vW;
    color: white;
    margin: 0 10px;
    padding-left: 5px;   
}

.alert-banner-close {
    text-align: center;
}

/* TRAFFIC */ 
.traffic {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

.traffic-header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: #737373;
    font-size: 3.8vw;
    padding: 15px 0px 0px 10px;
}

.traffic-header h3 {
    font-weight: 300;
}

.traffic-nav {
    list-style-type: none;
    justify-self: right;
    overflow: hidden;
    padding-right: 10px;
}

#traffic-chart {
    max-width: 100%;
    margin: auto;
}
  
li {
    float: left;
    padding-left: 5px;
    font-size: 3.8vw;
    font-weight: 600;
    color: #737373;;
}

li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.widget-container-full {
    margin: auto;
}

/* BAR GRAPH */ 
.daily {
    border-bottom: 1px solid #d9d9d9;
    padding: 5px 0;
}

.daily h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding-left: 10px;
}

#daily-chart {
    max-width: 97%;
    margin: auto;
}

.widget-container-half {
    margin: auto;
}

/* DOUGHNUT */ 
.mobile {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0px;
}

.mobile h3 {
    color: #737373;
    font-size: 4.4vw;;
    font-weight: 300;
    padding-left: 10px
}

#mobile-chart {
    max-width: 95%;
    margin: auto;
}

/* SOCIAL STATS */

.social {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
}
.social h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
}

.social-container {
    display: grid;
    grid-template-areas: "svg social-text";
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: hsl(0, 0%, 99%);
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    max-width: 90%;
    margin: 17px auto 0px;
}

.social-text {
    grid-area: social-text;
    text-align: left;
}

.image-container {
    grid-area: svg;
    margin: auto;
}

.social-image {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    background-color: #8585e0;
    padding: 30px;
}

.social-logo {
    fill: white;
}

.social-image  svg {
    width: 100%;
    height: auto;
    fill: white;
}

.social-name {
    font-size: 5vw;
    font-weight: 600;
    color: #8585e0;
    margin-bottom: 0;
}

.social-number {
    font-size: 12vw;
    color: #737373;
    margin-top: 0;
}

/* NEW MEMBERS */ 
.members {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

 .members h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
 } 

 .members-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas: "image info"
                         "image date";
    border-bottom: 1px solid #d9d9d9;
    max-width: 90%;
    margin: auto;
 }

 .members-container:last-child {
     border-bottom: none;
 }

 .profile-image {
     border-radius: 50%;
     max-width: 62%;
 }

 .members-text {
    grid-area: info;
    color: #737373;
    font-size: 4vw;
    padding-left: 10px;
    font-weight: 300;
 }

 .date {
    grid-area: date;
    color: #737373;
    font-size: 4vw;
    font-weight: 300;
    padding-left: 10px;
 }

.image-box {
    grid-area: image;
    align-self: center;
    text-align: center; 
}

.members-text a {
    color: #8585e0;
    text-decoration: none;
}

/* RECENT ACTIVITY */ 
.activity {
    border-bottom: 1px solid #d9d9d9;
}

.activity h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
}

.activity-container {
    display: grid; 
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas: "image info"
                        "image arrow";
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    max-width: 90%;
    margin: auto;
}

.arrow {
    grid-area: arrow;
    justify-content: right;
    padding-left: 10px;
    margin: 0;
    color: #8585e0;
}

.activity-container:last-child {
    border-bottom: none;
}

/* MESSAGE */ 
.message {
    border-bottom: 1px solid #d9d9d9;
}

.message h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
}

.widget-container {
    display: grid;
    grid-template-areas: "formField"
                         "formArea"
                         "button";
    padding: 15px 10px 30px;
}

.form-field {
    grid-area: formField;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: hsl(0, 0%, 99%);
    margin-bottom: 10px;
}

.form-field:focus {
    outline: none;
    box-shadow: 0 0 5px #6495ED;
}

.form-area {
    grid-area: formArea;
    height: 100px;
    border-color: #d9d9d9;
    border-radius: 3px;
    background-color: hsl(0, 0%, 99%);
}

.form-area:focus {
    outline: none;
    box-shadow: 0 0 5px #6495ED;
}

.button-primary {
    grid-area: button;
    background-color: #8585e0;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin-top: 25px;
}

.button-primary:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(86, 87, 137);
}

/* SETTINGS */ 
.settings h3 {
    color: #737373;
    font-size: 4.4vw;
    font-weight: 300;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
}

.switch-light {
    margin-bottom: 20px;
}

.settings strong {
    font-size: 4vw;
    color: #737373;
}

.switch {
   max-width: 80%;
   justify-self: right;
   margin-right: 10px;
}

.settings label {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 0px 0px 10px;
} 

.timezone-container {
    text-align: center;

}
select {
    width: 94%;
    margin-top: 30px;
}

#timezone {
    height: 30px;
    color: #737373;
    margin-top: 10px;
}

.setting-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "save cancel";
    margin-top: 10px;
    justify-items: center;
    margin: 5px 0px 40px;
}

#save {
    grid-area: save;
    margin-top: 0;
    width: 90%;
}

#cancel {
    grid-area: cancel;
    height: 30px;
    width: 90%;
    border: none;
    color: white;
    background-color: #cccccc;
    border-radius: 3px;
}

#cancel:focus {
    outline: none;
    box-shadow: 0 0 5px grey;
}



















/* study guide */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" 
                         "navigation" 
                         "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
    display: grid;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
                             "navigation main";
    }

    main {
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}