 /* ========================================
                Charts  
======================================== */
.traffic,
.daily,
.mobile {
    border-bottom: 1px solid $color-placeholder;
}

.widget-container-full,
.widget-container-half,
#daily-chart,
#mobile-chart {
    margin: auto;
}

.traffic {
    padding-bottom: 10px;
    padding-top: 20px;
    &-nav {
        display: inline-block;
        list-style-type: none;
        justify-self: right;
        align-self: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        &-link {
            background-color: none;
            border-radius: 20px;
            padding: 5px;
            width: 47px;
            text-align: center;
            cursor: pointer;
        }
    }
    &-header {
        display: flex;
        height: 40px;
        padding: 10px 0px 0px 10px;
        & h3 {
            margin: 0;
        }
    }
}

#traffic-chart {
    padding: 0px;
}
  
li {
    display: inline-block;
    margin-left: auto;
    padding-left: 5px;
    & a {
        text-align: center;
        padding: 16px;
    }
}

.widget-container-full {
    padding: 0;
}

.active {
    background-color: $color-active;
}

.daily {
    padding: 5px 0;
    & h3 {
        padding-left: 10px;
    }
}

#daily-chart {
    max-width: 97%;
}

.mobile {
    padding: 10px 0px;
    & h3 {
        padding-left: 10px
    }
}

#mobile-chart {
    max-width: 95%;
}


@media(min-width: $tablet) {
    .traffic {
        &-header {
            padding: 10px 10px;
            height: 50px;
            & h3 {
                padding-left: 20px;
            }
        }
        &-nav {
            margin-right: 20px;
            &-link {
                padding: 5px;
                width: 60px;
            }
        }
    }

    li {
        padding-right: 50px;
    }

    .widget-container-full {
        padding-left: 20px;
    }

    .daily {
        padding: 5px 0;
        border-right: 1px solid $color-placeholder;
        & h3 {
            padding-left: 30px;
        }
    }

    #daily-chart {
        max-width: 90%;
        padding-left: 10px;
    }

    .mobile {
        padding: 5px 0;
        & h3 {
             padding-left: 30px;
             margin-top: 14px;
        }
        & .widget-container-half {
             margin: 0;
             padding: 0;
        }
     }
 
     #mobile-chart {
         max-width: 80%;
     }
}